.v-input__control{
    background-color: black;
    border: 0.1px white solid;
   
    /* margin-top: 10px; */
    opacity: 1;
}
.v-field-label{
    opacity: 1;
    color: yellow;
}
.v-field__input{
    color: yellow;
}
.v-field__append-inner{
    color: yellow;
    opacity: 1;
}
.mdi-menu-down{
    opacity: 1;
}
// .v-input__control{
//     background-color: black;
//     border: 0.1px white solid;
   
//     margin-top: 10px;
//     opacity: 1;
// }